body {
    margin: auto;
    padding: 0 2em;
    background-color: black;
    font-size: 1em;
    color: white;
}

nav > a:not(:hover) {
    text-decoration: none;
}

strong {
    font-style: italic;
}

a {
    color: #7c3;
}

a.back {
    margin: 0 .5em;
    float: right;
}

h2 {
    position: relative;
    margin: 0;
    clear: both;
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        #fff calc(100% - 10px),
        transparent
    );
}

h2::before {
    content: "♦";
    opacity: .5;
    margin-right: .3em;
    font-size: .8em;
}

h2:not(.bonus)::after {
    content: "";
    position: absolute;
    margin: .8em 0; 
    width: 1500px;
    border-width: 1px;
    border-style: dashed;
    border-image: linear-gradient(
        to right,
        transparent,
        #777 2% 100%,
        transparent
    ) 1;
    top: 0;
}

h2 + * {
    margin: .5em;
    margin-left: 0;
    margin-bottom: 1em;
    overflow: auto;
}

.small {
    opacity: .5;
    font-size: .7em;
}

.credentials {
    display: inline-block;
    padding: .3em;
    border-radius: .5em;
    opacity: 1;
    background-color: #ffffff18;
    font-family: 'Courier New', Courier, monospace;
    font-size: .7em;
    word-spacing: -.3em;
    color: slategray;
}

img.thumb {
    margin: .5em 1.2em 0 1.5em;
    height: 80px;
    border-radius: .5em;
    box-shadow: white 0 0 .3em;
}

ul {
    margin: 0 auto;
}

li {
    line-height: 1.7em;
}

ul.bullets {
    font-size: 1.5em;
}

ul:not(.bullets) > li {
    margin-left: -1.5em;
    list-style: none;
    word-break: break-all;
}

hr {
    margin: 2em auto;
    width: 80%;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(
        to right,
        transparent,
        #777 2% 98%,
        transparent
    ) 1;
}

@media only screen and (min-width: 768px) {

    body {
        width: 1000px;
    }
    
    img.thumb {
        float: left;
    }
}

.lyrics {
    line-height: 1.5em;
    text-align: center;
    text-wrap: wrap;
    font-size: 1.5em;
}

.lyrics > strong {
    background-color: rgba(255, 255, 255, .1);
    padding: 0 .5em;
    border-radius: .5em;
}

.youtube-link {
    display: block;
    margin: 1em auto;
    text-align: right;
}

.youtube-link > a {
    text-decoration: none;
}

.youtube-link > a:hover {
    text-decoration: underline;
}
