body {
    margin: auto;
    padding: 0 2em;
    font-size: 1.1em;
}

@media only screen and (min-width: 768px) {
    body {
        width: 1000px;
    }
}

nav > a:not(:hover) {
    text-decoration: none;
}

strong {
    font-style: italic;
}

a {
    color: royalblue;
}

h2 {
    margin-bottom: 0em;
}

ul {
    margin-top: 0.5em;
}

.small {
    opacity: 0.5;
    font-size: 0.6em;
}

li {
    margin-left: -1.5em;
    line-height: 1.7em;
    list-style: none;
}
