body {
    margin: auto;
    padding: 0 2em;
    font-size: 1em;
}

nav > a:not(:hover) {
    text-decoration: none;
}

strong {
    font-style: italic;
}

a {
    color: royalblue;
}

h2 {
    margin: 0;
    clear: both;
}

h2 + * {
    margin: .5em;
    margin-bottom: 1.5em;
    overflow: auto;
}

.small {
    opacity: 0.4;
    font-size: 0.8em;
}

img.thumb {
    margin: 0 1em 0 1em;
    max-width: 140px;
    max-height: 120px;
    border-radius: .5em;
    box-shadow: black 0 0 .5em;
}

ul {
    margin: 0 auto;
}

li {
    margin-left: -1.5em;
    line-height: 1.8em;
    list-style: none;
    word-break: break-all;
}

@media only screen and (min-width: 768px) {

    body {
        width: 1000px;
    }
    
    img.thumb {
        float: left;
    }
}

